footer {
  font-size: 1.5em;

  button {
    width: 33%;
    text-align: center;
    margin: 5px 0px;
  }

  button.active {
  }

  button.inactive {
    color: grey;
  }

  .controls {
    height: 100%;
    max-width: 500px;
    padding: 0.5em 0.2em;
  }
}
