@nice-blue: #337ab7;
@nice-grey: #f5f5f5;
@item-font-size: 1.5em;
@controls-height: 65px;

html, body {
  height: 100%;
  overflow: hidden;
}

#player, #viewport {
  height: 100%;
}

.scrollable {
  height: ~"calc(100% - @{controls-height})";
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.player-controls {
  font-size: 2em;
  position: static;
  bottom: 0;
  height: @controls-height;
  background-color: @nice-grey;

  button {
    width: 25%;
    border: none;
    background: none;
    height: 80%;
    vertical-align: sub;
    padding-top: 0px;
  }

  button:hover {
    color: #111;
  }
}

.ruler {
  height: 5px;
  overflow: visible;
  position: relative;
  background-color: @nice-grey;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  cursor: pointer;

  &:hover {
    background-color: darken(@nice-grey, 10%);
  }

  div {
    float: left;
    height: 100%;
    color: #fff;
    background-color: @nice-blue;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    transition: width .6s ease
  }

  .playhead {
    background-color: @nice-blue;
    transition: left .6s ease;
    width: 5px;
    height: 10px;
    position: absolute;
    top: -2.5px;

    visibility: hidden;
  }

  &:hover .playhead {
    visibility: visible;
  }
}

.search-box {
  padding: 1em;
  font-size: 1.8em;
  color: #555;

  input {
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  input:focus {
    border-color: #66afe9;
    outline: 0;
  }

  input:not(:valid) ~ button {
    display: none;
  }

  button {
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 6px;
    margin-top: -1.5em;
    border: none;
    background: none;
  }
}

.track-list {
  padding: 0;
}

.track {
  border-bottom: thin solid LightGray;
  padding: 0.7em 1.7em;
  cursor: pointer;
  transition: background-color ease-out .30s;

  &:hover {
    background-color: @nice-grey;
  }

  &:last-child {
    border-bottom: none;
  }

  .performer {
    font-size: 1em;
    color: inherit;
  }

  .title {
    font-size: @item-font-size;
    font-weight: bold;
  }

  .duration {
    float: right;
    display: inline-block;
    margin-top: 1.2em;
    text-align: center;
  }
}

.track.active,
.track.active:hover {
  background-color: @nice-blue;
  color: #fff;
}

.track-left {
  display: inline-block;
  width: 85%;
}
