@nice-blue: #337ab7;
@nice-grey: #f5f5f5;
@text-color: #fff;
@body-color: #222222;
@blured-color: rgba(46, 46, 46, 0.5);
@playhead-color: fade(@text-color, 50%);
@item-font-size: 1.5em;
@controls-height: 65px;

.drop-shadow {
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);
}

html, body {
  height: 100%;
  overflow: hidden;
}

#player, #viewport {
  height: 100%;
}

body {
  background-color: @body-color;
  color: @text-color;
}

button:hover {
  .drop-shadow;
}

button:active {
  color: darken(@text-color, 10%);
  text-shadow: none;
}

button.toggled {
  background-color: rgba(255, 255, 255, 0.05);
  .drop-shadow;
}

.cover {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  -ms-filter: blur(5px);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.8;
}

.scrollable {
  background-color: @blured-color;
  height: ~"calc(100% - @{controls-height})";
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

footer {
  background-color: rgba(30, 30, 30, 0.93);
  font-size: 2em;
  position: static;
  bottom: 0;
  height: @controls-height;

  button {
    width: 20%;
    border: none;
    background: none;
    height: 90%;
    padding-top: 0px;
    outline: none;
  }

  .controls {
    height: 100%;
    display: flex;
  }

  .primary-buttons {
    flex-grow: 1;
    height: 100%;
    margin: 0px 5px 0px 5px;
  }

  .extra-buttons {
    flex-grow: 2;
    height: 100%;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.ruler {
  height: 5px;
  overflow: visible;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  cursor: pointer;

  &:hover {
    background-color: @blured-color;
  }

  div {
    float: left;
    height: 100%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.31);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    transition: width .6s ease
  }

  .playhead {
    background-color: @playhead-color;
    transition: left .6s ease;
    width: 5px;
    height: 10px;
    position: absolute;
    top: -2.5px;

    visibility: hidden;
  }

  &:hover .playhead {
    visibility: visible;
  }
}

.search-box {
  padding: 1em;
  font-size: 1.8em;
  color: @text-color;

  input {
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    background: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  input:focus {
    border-color: #fff;
    outline: 0;
  }

  input:not(:valid) ~ button {
    display: none;
  }

  button {
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 6px;
    margin-top: -1.5em;
    border: none;
    background: none;
  }
}

.track-list {
  padding: 0;
}

.track {
  border-bottom: thin solid fade(#ccc, 30%);
  padding: 0.7em 1.7em;
  cursor: pointer;
  transition: all ease-out .2s;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.02);
    .drop-shadow;
  }

  &:active {
    text-shadow: none;
  }

  &.active,
  &.active:hover {
    background-color: rgba(212, 212, 212, 0.35);
    .drop-shadow;
  }

  .performer {
    font-size: 1em;
    color: inherit;
    font-weight: 500;
  }

  .title {
    font-size: @item-font-size;
    font-weight: bold;
  }

  .duration {
    float: right;
    display: inline-block;
    margin-top: 1.2em;
    text-align: center;
  }
}

.track-left {
  display: inline-block;
  width: 85%;
}
