.track-list {
  padding: 0;

  li {
    border-bottom: thin solid fade(#ccc, 30%);
    list-style: none;
    transition: all ease-out .2s;

    &:last-child {
      border-bottom: none;
      margin-bottom: 5em;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.02);
      .drop-shadow;
    }

    &:active {
      text-shadow: none;
    }

    &.active,
    &.active:hover {
      top:0px;
      bottom: 0px;
      background-color: rgba(170, 170, 170, 0.15);
      .drop-shadow;

      @supports (-webkit-backdrop-filter: blur(5px)) {
        -webkit-backdrop-filter: blur(5px);
        position: sticky;
        position: -webkit-sticky;
      }
    }

    .performer {
      font-size: 1em;
      color: inherit;
      font-weight: 500;
    }

    .title {
      font-size: @item-font-size;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .duration {
      display: inline-block;
      float: right;
    }

    .track {
      cursor: pointer;
      padding: 0.7em 1.7em;
    }
  }
}
